<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <title>Field Dashboard</title>
</head>
<body>

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" a href="/views/ranchDash">
                        <h1>RanchHand</h1>
          </a>
  
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
  
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start"></div>
  
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" a href="/views/ranchDash"><strong>Ranch Dashboard</strong>
                </a>
                <a class="button is-light" href="/views/addField">Add Field</a>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
    <section class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Field Dashboard
            </h1>
            <h2 class="subtitle">
              Manage your fields, track feild data points, and make the most out of each plot. 
            </h2>
          </div>
        </div>
      </section>
       
        <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <figure class="image is-1by1">
                  <img src="https://user-images.githubusercontent.com/30938466/78725990-e491ad00-78fe-11ea-94bf-fd1de4d9e7b3.png">
                </figure>
                <p class="title">Burned Chimney</p>
                <p class="subtitle">View <a  href="/views/fieldCard">Field</a> </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <figure class="image is-1by1">
                  <img src="https://user-images.githubusercontent.com/30938466/78726105-24589480-78ff-11ea-82c2-b94ccb21aab4.jpg">
                </figure>
                <p class="title">Lower Jerrell</p>
                <p class="subtitle">View <a  href="/views/fieldCard">Field</a> </p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <figure class="image is-1by1">
                  <img src="https://user-images.githubusercontent.com/30938466/78726272-8addb280-78ff-11ea-8e47-0382bf800277.jpg">
                </figure>
                <p class="title">Fallen Oak Hill</p>
                <p class="subtitle">View <a  href="/views/fieldCard">Field</a> </p>
              </article>
            </div>
          </div>
    </section>

    <section class="container">

      <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </figure>
              <p class="title">Upper Clover</p>
              <p class="subtitle">View <a  href="/views/fieldCard">Field</a> </p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </figure>
              <p class="title">Middle Clover</p>
              <p class="subtitle">View <a  href="/views/fieldCard">Field</a> </p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="image is-128x128">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </figure>
              <p class="title">Lower Clover</p>
              <p class="subtitle">View <a  href="/views/fieldCard">Field</a> </p>
            </article>
          </div>
        </div>
  </section>
</body>
</html>